version: "3.8"

services:
  test:
    build:
      context: ./test
      dockerfile: Dockerfile
    networks:
      - app_network

networks:
  app_network:
    name: parfummelier_default
    external: true
