.card-container {
  border: 1px solid #d1d5db;
  padding: 1rem;
  border-radius: 0.5;
  margin-bottom: 1.5rem;
  width: 18rem;
  height: 24rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-value {
  font-size: 2rem;
  font-weight: 600;
}
