.footer-container {
    background-color: #1f2937;
    color: white;
    padding: 1.5rem 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0
  