.navbar-container {
    max-width: 100vw;
    padding: 1rem;
    margin: 0 auto;
  }
  
  /* Content */
  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Title */
  .navbar-title {
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
  }
  
  /* Container */
  .navbar-children {
    width: 100%;
    margin-left: 2rem;
  }
  